{% extends "base.html" %}
{% load tagging_tags %}

{% block title %}Recipe for {{ recipe.title }}{% endblock %}

{% block extracss %}
<style type="text/css">
    {{ extracss }}
    .highlight {
        overflow:auto;
        width:920px;
    }
    .linenos {
        background:#888;
    }
</style>
{% endblock %}

{% block content %}
<h1>Recipe for {{ recipe.title }}:</h1>
<h2>Author: </h2>
<h3>Submitted on: {{ recipe.date_posted|date }}</h3>

{{ recipe.body|safe }}

{% tags_for_object recipe as recipe_tags %}
<p>
    <strong>Tags:</strong>
    {% for tag in recipe_tags %}
        {{ tag }}
    {% endfor %}
</p>
{% endblock %}
