{% extends "base.html" %}
{% load i18n %}
{% load tagging_tags %}

{% block title %}{% trans "Recipe for" %} {{ recipe.title }}{% endblock %}

{% block extracss %}
<style type="text/css">
    {{ extracss }}
    .highlight {
        overflow:auto;
        width:920px;
    }
    .linenos {
        background:#888;
    }
</style>
{% endblock %}

{% block content %}
<h1>{% trans "Recipe for" %} {{ recipe.title }}:</h1>
<h2>{% trans "Author" %}: <a href="{% url profile_public recipe.author %}">{% if recipe.author.get_profile.firstname  %}{{ recipe.author.get_profile.firstname }} {{ recipe.author.get_profile.surname }}{% else %}{{ recipe.author }}{% endif %}</a></h2>
<h3>{% trans "Submitted on" %}: {{ recipe.date_posted|date }}</h3>

{{ recipe.body|safe }}

{% if favorite_recipe %}
	<a href="{% url toggle_favorite recipe.id %}">Remove favorite</a>
{% else %}
	<a href="{% url toggle_favorite recipe.id %}">Add to favorites</a>
{% endif %}

{% tags_for_object recipe as recipe_tags %}
<p>
    <strong>{% trans "Tags" %}:</strong>
    {% for tag in recipe_tags %}
        {{ tag }}
    {% endfor %}
</p>
{% endblock %}
