{% extends "base.html" %}
{% load i18n %}

{% block extracss %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/ui-darkness/jquery-ui-1.8.10.custom.css" type="text/css" media="screen" />
{% endblock %}
{% block extrajs %}
<script src="{{ MEDIA_URL }}js/codemirror/js/codemirror.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery-ui-1.8.10.custom.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready( function() {
        var editor = CodeMirror.fromTextArea('id_body', {
            parserfile: "../contrib/python/js/parsepython.js",
            stylesheet: "{{ MEDIA_URL }}js/codemirror/contrib/python/css/pythoncolors.css",
            path: "{{ MEDIA_URL }}js/codemirror/js/",
            lineNumbers: true,
            textWrapping: false,
            indentUnit: 4,
            height: 100,
            width: "600px",
            tabMode: "spaces",
            parserConfig: {
                'pythonVersion': 2,
                'strictErrors': true
            }
        });

        $("#recipe_sync").click(function(){
            $( "#sync-confirm" ).dialog({
                resizable: false,
                height:140,
                modal: true,
                buttons: {
                    "Sync": function() {
                        $( this ).dialog( "close" );
                        $( "#spinner" ).fadeIn();
                        $("#recipe_sync").fadeOut();
                        $("#sync_status").text('Syncing. Please wait.');
                        var build_label_form = $("#id_install_path").val()
                        $.post("/recipe_sync/", {
                            build_label: build_label_form
                        }, function(data){
                            if (data == "Error"){
                                $( "#spinner" ).fadeOut();
                                $("#recipe_sync").fadeIn();
                                $("#sync_status").html('<b>Sync error</b>');
                            }
                            else {
                                $( "#spinner" ).fadeOut();
                                $("#recipe_sync").fadeIn();
                                recipe_data = data;
                                editor.setCode(data)
                                $("#sync_status").html('<b>Sync success</b>');

                            }
                        });
                    },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                }
            });

        });

    });
</script>
{% endblock %}

{% block content %}
<br>
<h1>{% trans "Edit recipe" %}</h1>
<br>
{% if file_error %}
<div class="file_error rc">
    {{file_error}}
</div>
<br>
{% endif %}
<div id="add_new_recipe">
    <h4>Recipe data</h4>
    <br>
    <form action="/aboyeur/recipes/edit/{{recipe.id}}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
        <fieldset>
			{{form.title.label_tag}}
            <br>
			{{form.title}}
            <br>
			{{form.body.label_tag}}
            <a href="#" id="recipe_sync"><img src="{{ MEDIA_URL }}images/icons/house_link.png"/></a>
            <br>
            <img src="{{ MEDIA_URL }}images/spinner.gif" style="display:none" id="spinner" />
            <div id="sync_status"></div>
            <div id="sync-confirm" title="Are you sure you want to replace current recipe body with a synced one from the repos ?">
            </div>
            <br>
            <div id="recipe_body">
				{{form.body}}
            </div>
            <br>
			{{form.install_path.label_tag}}
            <br>
			{{form.install_path}}
            <br>
			{{form.url.label_tag}}
            <br>
			{{form.url}}
            <br>
			{{form.published.label_tag}}
            <br>
			{{form.published}}
            <br>
			{{form.tags.label_tag}}  (separated by commas)
            <br>
			{{form.tags}}
        </fieldset>
        <br>
        <div class="proper_links">
		Attachement (Limit 500kb, accepted : patch, zip, tar, tar.gz, tar.bz2) :
            <br>
		{% if recipe.recipe_file_set.all %}
		Current (will be deleted if sumbitted) :
		{% for recipe_file in recipe.recipe_file_set.all %}
            <a href="{{ MEDIA_URL }}{{recipe_file.file}}">
		{{recipe_file.filename}}
            </a>
            <br>
		{% endfor %}
		{% endif %}
		{{file_form.file.errors}}
		{{file_form.file}}
        </div>
        <br>
        <input type="submit" value="Save" />
    </form>
</div><!--end add_new_recipe-->
{% endblock %}
