{% extends "base.html" %}
{% load i18n %}

{% block extrajs %}
<script src="{{ MEDIA_URL }}js/codemirror/js/codemirror.js" type="text/javascript">
</script>
<script type="text/javascript">
	window.onload = function() {
		var editor = CodeMirror.fromTextArea('id_body', {
			parserfile: "../contrib/python/js/parsepython.js",
			stylesheet: "{{ MEDIA_URL }}js/codemirror/contrib/python/css/pythoncolors.css",
			path: "{{ MEDIA_URL }}js/codemirror/js/",
			lineNumbers: true,
			textWrapping: false,
			indentUnit: 4,
			height: 100,
			width: "600px",
			tabMode: "spaces",
			parserConfig: {'pythonVersion': 2, 'strictErrors': true}
		});
	};
</script>
{% endblock %}

{% block content %}
<br>
<h1>{% trans "Edit recipe" %}</h1>
<br>
<div id="add_new_recipe">
	<h4>Recipe data</h4>
	<br>
	<form action="{% url edit_recipe recipe.id %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset>
			{{form.title.label_tag}}
			<br>
			{{form.title}}
			<br>
			{{form.body.label_tag}}
			<br>
			<div id="recipe_body">
				{{form.body}}
			</div>
			<br>
			{{form.install_path.label_tag}}
			<br>
			{{form.install_path}}
			<br>
			{{form.url.label_tag}}
			<br>
			{{form.url}}
			<br>
			{{form.published.label_tag}}
			<br>
			{{form.published}}
			<br>
			{{form.tags.label_tag}}  (separated by commas)
			<br>
			{{form.tags}}
		</fieldset>
		<br>
		Files:
		<br>
		{% for recipe_file in recipe.recipe_file_set.all %}
		<a href="{{ MEDIA_URL }}{{recipe_file.file}}">
		{{recipe_file.filename}}
		<br>
		{% endfor %}
		{{file_form.file}}
		<br>
		<input type="submit" value="Save" />
	</form>
</div><!--end add_new_recipe-->
{% endblock %}
