{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Overview of your profile" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        $(function(){
            var $add_new_recipe = $('#add_new_recipe');
            var $input_title = $('#id_title');
            $add_new_recipe.hide();
            
            $('#user_recipes h3 a').toggle(function(){
                $add_new_recipe.slideDown(function(){
                    $input_title.focus();
                });
            }, function(){
                $add_new_recipe.slideUp();
            });
        });
    </script>
{% endblock %}

{% block container_class %}container_user{% endblock %}

{% block container %}
    <h2>User Profile</h2>
{% endblock %}

{% block content_class %}user_profile{% endblock %}

{% block content %}
    <div id="user_favorite_recipes">
        <h3>{% trans "Favorite Recipes" %}</h3>
        <ul>
            <li class="favorite_recipe">
                {% for favorite in favorites %}
                    <h4><a class="administrative_links" href="{% url toggle_favorite favorite.content_object.id %}">{% trans "Delete" %}</a> <a href="{% url recipe favorite.content_object.id %}">{{ favorite.content_object.title }}</a></h4>
                {% empty %}
                    <h4>{% trans "You haven't added any recipe to your favorites yet." %}</h4>
                {% endfor %}
            </li><!--end favorite_recipe-->
        </ul>
    </div><!--end user_favorite_recipes-->
    
    {% if perms.aboyeur.add_recipe %}
        <div id="user_recipes">
            <h3>My Recipes <a class="administrative_links" href="#add_new_recipe">Add New Recipe</a></h3>
            <div id="add_new_recipe">
                <!-- use jquery to hide this block -->
                <form action="{% url add_recipe %}" method="post">{% csrf_token %}
                    {% for field in form %}
                        {{ field.label }}: <br />
                        {{ field }}<br /><br />
                    {% endfor %}
                    <input type="submit" value="Save" />
                </form>
            
            </div><!--end add_new_recipe-->
        
            <ul>
                <li class="user_recipe">
                    {% for recipe in user_recipes %}
                        <h4> <a class="administrative_links" href="{% url edit_recipe recipe.id%}">{% trans "Edit" %}</a> <a class="administrative_links" href="{% url delete_recipe recipe.id %}">{% trans "Delete" %}</a> <a href="{% url recipe recipe.id %}">{{ recipe.title }}.</a> </h4>
                    {% empty %}
                        {% trans "No recipes have been added yet. No Soup For You!" %}
                    {% endfor %}
                </li><!--end user_recipe-->
            
            </ul>
        </div><!--end user_recipes-->
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% load avatars %}
    <div id="sidebar" class="rc sidebar_user">
        <h3>{{ user }}</h3>
        
        <div id="user_profile_info">
        <a href="{% url profile_edit_avatar %}">
            <img class="border" src="{% avatar 96 %}" />
        </a>
        <p>
            {% trans "Name" %}:
            {% if user.get_profile.firstname %}
                {{ user.get_profile.firstname }}
            {% else %}
                {% trans "Not set" %}
            {% endif %}
        </p>
        <p>
            {% trans "Surname" %}:
            {% if user.get_profile.surname %}
                {{ user.get_profile.surname }}
            {% else %}
                {% trans "Not set" %}
            {% endif %}
        </p>
        <p>
            {% trans "Email" %}:
            {% if not email %}
                {% trans "Not set yet" %}
            {% else %}
                {{ email }}
                {% if not validated %}
                    {% trans " (Not validated)" %}
                {% endif %}
            {% endif %}
        </p>
        {% if user.get_profile.about %}
            <p>
                <br />{% trans "About" %}:<br />
                {{ user.get_profile.about }}<br /><br />
            </p>
        {% endif %}
        <p><a class="administrative_links_sidebar" href="{% url profile_edit_personal %}">{% trans "Edit user info" %}</a><p>
        <p><a class="administrative_links_sidebar" href="{{ request.path_info }}edit/avatar/">{% if user.get_profile.has_avatar %}{% trans "Change avatar" %}{% else %}{% trans "Add avatar" %}{% endif %}</a></p>
        <p><a class="administrative_links_sidebar" href="/accounts/profile/edit/location/">{% trans "Location" %}</a></p>
        <p><a class="administrative_links_sidebar" href="{% url password_change %}">{% trans "Change password" %}</a></p>
        <p><a class="administrative_links_sidebar" href="{% url email_validation %}">{% if email %}{% trans "Change your e-mail address" %}{% else %}{% trans "Add your e-mail address" %}{% endif %}</a></p>
        {% if not validated and email %}<p><a class="administrative_links_sidebar" href="{% url email_validation_reset %}">{% trans "Resend validation e-mail" %}</a></p>{% endif %}
        <p><a class="administrative_links_sidebar" href="/accounts/profile/delete/">{% trans "Remove profile" %}</a></p>
    </div><!--end user_profile_info-->

    </div><!--end sidebar-->
{% endblock %}
