{% extends "base.html" %}
{% load i18n %}

{% block content_class %}error_container{% endblock %}

{% block content %}
    <div id="forbidden_error">
        <h2>{% trans "Error 403!" %}</h2>
        <p>{% trans "Sorry! There is nothing here. XOXOX, Mom." %}</p>
    </div><!--end error-->

    <p class="image-credit">{% trans "Image by" %}: <a href="http://www.flickr.com/photos/ackook/4073405489/" target="_blank">Ack Ook</a></p>

    <div id="postit_error">
        <p>{% trans "Don't forget<br /> to use the search!" %}<p>
    </div><!--end postit_error-->
{% endblock %}
