{% extends "base.html" %}
{% load i18n %}

{% block content_class %}error_container{% endblock %}

{% block content %}
    <div id="error">
        <h2>{% trans "Error 403!" %}</h2>
        <p>{% trans "Looks like you do not have the necessary permissions for the required action." %} XOXO, Mom.</p>    
    </div><!--end error-->
    
    <div id="postit_error">
        <p>{% blocktrans %}Here's a link to the <a href="/">homepage</a>.<br /> You know, just in case.{% endblocktrans %}<p>
    </div><!--end postit_error-->
{% endblock %}
