{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Sous Chef - Conary Code Recipes{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen" />
    {% block extracss %}{% endblock %}

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
    {% block extrajs %}{% endblock %}

    <meta name="robots" content="{% block robots %}index,follow{% endblock %}" />
    {% block external %}{% endblock %}
    
    <link rel="alternate" type="application/rss+xml"  href="/aboyeur/feeds/recipes" title="Latest Recipes" />
</head>

<body>
    <h1 class="hide"><a href="{% url frontpage %}">Sous Chef - Conary Code Recipes</a></h1>

    <div id="menu_container">
        <div id="top_menu">
            <ul>
                <li><a id="menu_home" class="menu_item" href="{% url frontpage %}">{% trans "Home" %}</a></li>
                <!--<li><a id="menu_recipes" class="menu_item" href="#">{% trans "Recipes" %}</a></li>
                <li><a id="menu_sous_chef" class="menu_item" href="#">{% trans "Sous Chefs" %}</a></li>-->
                <li><a id="menu_contact" class="menu_item" href="#">{% trans "Contact" %}</a></li>
                {% if user.is_authenticated %}
                    <li><a id="menu_profile" class="menu_item" href="{% url profile_overview %}">{% trans "Profile" %}</a></li>
                    <li><a id="menu_logout" class="menu_item" href="{% url logout %}">{% trans "Logout" %}</a></li>
                {% else %}
                    <li><a id="menu_login" class="menu_item" href="{% url login %}">{% trans "Login" %}</a></li>
                {% endif %}
            </ul>
            
            <div id="search">
            
            <form name="input" action="{% url recipes %}" method="get">
                <input name="query" type="text">
                <input value="Submit" type="submit">
            </form>
            
            </div><!--end search-->
        </div><!--end top_menu-->
    </div><!--end menu_container-->

    {# {% if messages %} #}
    {# <ul id="messages"> #}
    {#     {% for message in messages %} #}
    {#     <li class="success" id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small style="float: right;">{% trans "clear" %}</small></a> {{ message }}</li> #}
    {#     {% endfor %} #}
    {# </ul> #}
    {# {% endif %} #}

    <div id="container" class="{% block container_class %}{% endblock %}">
        {% block container %}{% endblock %}
        <div id="content" class="{% block content_class %}{% endblock %}">
            {% block content %}{% endblock %}
        </div><!--end content-->
        
        {% block sidebar %}{% endblock %}
        
        <div class="clear"></div>
        
        <div id="footer">
            <p>Sous Chef - Conary Recipes 2010. All Rigths Reserved. Website: <a href="#">QuartoEstudio.com</a></p>
        </div><!--end footer-->
    </div><!--end container-->
</body>
</html>
