{% extends "base.html" %}
{% block title %}{{ block.super }} &raquo; Search Bookmarks{% endblock %}

{% block content_class %}search_results_container{% endblock %}

{% block content %}
{# <form id="search-form" method="get" action="."> #}
{#   {{ form.as_p }} #}
{#   <input type="submit" value="search" /> #}
{# </form> #}
{% if show_results %}
    <h2>Search Results for {{ query }}</h2>

    <!-- <div id="sort_results">
        <p>Sort results by: <a href="#">Language</a> or <a href="#">Stars</a></p>
    </div> -->
    <!--end sort_results-->

    <div id="search-results">
        {% include "recipe_list.html" %}
    </div><!-- end search results-->
{% else %}
    <h2>Tagged recipes for {{ tag }}</h2>

    <div id="search-results">
        {% include "recipe_list.html" %}
    </div><!-- end search results-->

{% endif %}
{% endblock %}
