{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Contact" %}{% endblock %}

{% block content %}
<br>
    <div id="informational">
        <p>
            <span id="conaryrecipes">Conary Recipes</span> is a <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Conary_(package_manager)" alt="Conary">conary</a> recipe browser for anyone who wants to sharpen their packaging skills or just want to show off how you can turn overly complicated applications into well behaved packages! Become a chef and add your custom recipes or send your compliments to the chefs by voting for their exquisite selections! Bon appetit!
        </p>
        <br />
        <p>
        If you'd like to contact us with any feedback, suggestions and constructive criticism, please drops us a line.
        </p>
        <p  id="contact-email">
            <img src="{{ MEDIA_URL }}images/contact_email_266x19.png" alt="Contact Us" width="266" height="19" border="0" />
        </p>
    </div>
{% endblock %}
